@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.accommodation {
    @include flex-center(column);
    width: 100%;
    padding: 1rem;

    @include tablet {
        padding: 4rem 8rem;
    }

    @include desktop {
        padding: 4rem 8rem;
    }

    &__title {
        padding-bottom: 2rem;
    }

    &__content {
        @include flex-center(column);
    }

    &__anchor {
        @include flex-center;
    }

    &__button {
        @include button;
        margin-top: 2rem;
    }
}