@font-face {
    font-family: 'Edwardian Script ITC';
    src: url('/fonts/EdwardianScriptITC.ttf') format('truetype'),
         url('/fonts/EdwardianScriptITC.woff2') format('woff2');
    font-display: swap;
}