@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.registry {
    @include flex-center(column);
    padding: 1rem;

    @include tablet {
        padding: 2rem 8rem;
    }

    @include desktop {
        padding: 4rem 8rem;
    }
    
    &__content {
        
        @include tablet {
            @include flex-center(row-reverse);
            gap: 4rem;
        }
    }

    &__title {
        padding-bottom: 2rem;

        @include tablet {
            align-self: flex-start;      
        }
    }

    &__logos {
    @include flex-center(row);
    }

    &__logos-left {
        // width: 50%;
        // position: relative;
        // left: 7%;

        // @include tablet {
        //     position: revert;
        //     left: 0%;
        // }
    }
    
    &__logos-right {
        width: 50%;
    }

    &__text {

        @include tablet {

        }
    }
}