@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.registry {
    @include flex-center(column);
    width: 100%;
    padding: 1rem;

    @include tablet {
        padding: 2rem 8rem;
    }

    @include desktop {
        padding: 4rem 8rem;
    }
    
    &__content {
        @include flex-center(column-reverse);

        @include tablet {
            @include flex-center(row-reverse);
            gap: 4rem;
        }

        @include desktop {
            gap: 6rem
        }
    }

    &__anchor {
        @include flex-center;
    }

    &__logo {
        width: 80%;
        padding: 1rem 0;
        cursor: pointer;

        @include tablet {
            width: 100%;
        }
    
        @include desktop {
            width: 50%;
        }
    }


    &__title {
        padding-bottom: 2rem;

        @include tablet {
            align-self: flex-start;      
        }
    }

    // &__text {
    //     @include tablet {
    //     }
    // }

    &__button-anchor {

        @include tablet {
            align-self: flex-start;
        }
    }

    &__button {
        @include button;
        margin-top: 2rem;
      }
}