@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.registry {
    @include flex-center(column);
    width: 100%;
    padding: 1rem;

    @include tablet {
        padding: 4rem 8rem;
    }

    @include desktop {
        padding: 4rem 8rem;
    }
    
    &__content {
        @include flex-center(column-reverse);
    }

    &__anchor {
        @include flex-center;
    }

    &__title {
        padding-bottom: 2rem;

    }

    &__button {
        @include button;
        margin-top: 2rem;
      }
}