@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.sidebar {
    @include flex-center(row, space-between);
    position: fixed;
    width: 40%;
    height: 100vh;
    background-color: rgb(123,3,35,0.8);
    z-index: 5;
    padding: 1rem;

    // &__nav {}
    // &__nav-item {}
}