@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.rsvp {
  @include flex-center(column);
  padding: 1rem;
  margin: 2rem 0;

  @include tablet {
    padding: 1rem 4rem;
  }

  @include desktop {
    padding: 2rem 16rem;
  }

  // &__title {
  // }

  &__description {
    margin: 2rem 0;
  }
  
  &__form {
    @include flex-center(column);
    width: 100%;
    gap: 1rem;
    
    @include tablet {
      padding: 0 8rem
    }

    @include desktop {
      padding: 0 16rem;
    }
  }
  
  &__group {
    @include flex-center(row, space-between);
    width: 100%;
    gap: 1rem;
  }
  
  &__field {
    @include flex-center(column, flex-start, flex-start);
    width: 100%;
  }
  
  &__label {
    width: 90%;
  }
  
  &__input {
    width: 100%;
    padding: 0.75rem;
    border-radius: 0%;
    border: none;
    outline: none;
  }
  
  &__error, &__span {
    color: red;
  }

  &__fieldset {
    @include flex-center(column, flex-start, flex-start);
    gap: 1rem;
    width: 100%;
    border: none;
  }
  
  &__option {
    @include flex-center(row, flex-start);
    gap: 1rem;
    padding: 0.75rem;
    width: 100%;
    border: 1px solid $primary-text;
    cursor: pointer;
  }
  
  &__radio {
    appearance: none;
    background-color: $primary-text;
    width: 1rem;
    height: 1rem;
    content: none;
    
    &:checked {
      appearance: none;
      outline: none;
      padding: 0;
      content: none;
      border: none;
      
      &::before {
        position: absolute;
        color: black;
        content: "\00A0\2714\00A0";
        border: 1px solid #d3d3d3;
        font-weight: bolder;
        font-size: 0.71rem;
      }
    }
  }
  
  &__button {
    @include button;
  }

  &__render {
    width: 100%;
    position: relative;
    overflow: hidden;
  }
  
  &__confirmation {
    position: absolute;
    z-index: 1;
    inset: 0 0 0 0;
    width: 100%;
    height: 100%;
    background-color: $primary-background;
    transform: translatey(100%);
    transition: transform 0.5s ease-in-out;
    border-top:2px solid #820634;
    border-left:2px solid #820634;
    border-right:2px solid #63031D;
    border-bottom:2px solid #63031D;

    &--open {
      transform: translateY(0);
    }
  }
}

.thank-you {
  @include flex-center(column);
  width: 100%;
  background: $primary-text;
  color: black;
  margin: 1rem;

  @include tablet {
    margin: 2rem;
  }

  // &__title {}
  &__message {
    padding: 1rem;
    text-align: center;
  }
}